.Contact {
  /* background: rgba(25, 25, 0, 0.1); */
  padding: 1%;
  color: rgba(25, 25, 0, 0.9);
}

.Contact .form-control {
  margin-top: calc(1px + 1.5rem);
}
.Contact p, input {
  margin: 4%;
}

.Contact a {
  text-decoration: none;
  color: rgba(25, 25, 0, 0.9);
}

.Contact a:active {
  text-decoration: none;
  color: rgba(25, 25, 0, 0.9);
}

.Contact a:visited {
  text-decoration: none;
  color: rgba(25, 25, 0, 0.9);
}