.Navigation {
}

.NavigationItem {
  background-color: rgba(0,0,0,0.3);
  text-transform: uppercase;
}

.NavigationItem:hover {
  background-color: rgba(0,0,0,0.4);
}

.NavigationItem a {
  color: white;
}

.NavigationItem a:hover {
  color: white;
  text-decoration: none;
}

.NavigationItem a:active {
  color: aqua;
}
