.NavigationItem {
  background-color: rgba(0,0,0,0.5);
  text-transform: uppercase;
}

.NavigationItem:hover {
  background-color: rgba(0,0,0,0.6);
}

.NavigationItem a {
  color: white;
}

.NavigationItem a:hover {
  color: white;
  text-decoration: none;
}

.NavigationItem a:active {
  color: aqua;
}

.Active {
  color: aqua;
}