.Project {
  background-color: rgba(0,0,0,0.9);
  width: 90%;
  margin: 1% 5%;
  min-height: 50vh;
  color: white;
}

.Projects {
  background-color: rgba(0,0,0,0.4);
  width: 60%;
  margin: 0;
  height: 50vh;
  overflow: auto;
  text-align: center;
}
