.Sniglet {
  font-family: 'Sniglet', cursive;
}

.Roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.OpenSans {
  font-family: 'Open Sans Condensed', sans-serif;
}

.Dosis {
  font-family: 'Dosis', sans-serif;
}


